/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/************************************************************************************
*************************************************************************************

							      	CONTEST PAGE

************************************************************************************
************************************************************************************/

#t1 {order:1;}
#t2 {order: 2;}
#t3 {order: 3;}
#t4 {order: 4;}
#t5 {order: 5;}

.topSec {
	padding: 70px 0px 0px 0px;
.lower {
		@include space-wrap();
		@include align-items(flex-end);
		position:relative;
		margin-bottom: -30px;
		margin-top: 60px;
		#t1, #t2, #t4, #t5 {
			width: 17%;
			height: fit-content;
		}
		.title {
			width: 30%;
			width: fit-content;
			display: block;
			margin-bottom: 9%;
			border-radius: 15px;
      .info {
        max-width: none;
      }
}}}




/*********************
COCKTAILS
*********************/
.cocktailSec {
  .cocktail {
	width: 22%;
}}



  		/************************************************************************************
  		*************************************************************************************

  									      							PRICING

  		************************************************************************************
  		************************************************************************************/
  		.memberSec {
  			.flex {
  				.flexDiv {
  					width: 23%;
  					margin: 0px;
            .priceTop {
      				margin: 120px auto 0px auto;
      			}
  				}
  			}
  		}

/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/



.mobileMenu, .mobile-nav-button {display: none; }

.iconNav {
	background-color: $white;
	padding: 28px 20px 24px 30px !important;
	height: 78px;
}
.phone {display: none;}



.deskNav {
  display: block;
	ul {
		text-align: center;
    margin: 0px;
    position: absolute;
    right: 0px;
    text-transform: uppercase;
    display: block;
		li {
      display: inline-block;
      margin: 0px 30px 0px 0px;
      letter-spacing: 2px;
      font-size: 1em;
			a {color: white;
				text-decoration: none;
		    list-style-type: none;
				.fa {margin: 0px -15px 0px 0px;}
        &:hover {
          color:$redOrange;
          @include transition(.5s);
        }
			}}
	}

}

.menu li a:hover {
	color: $redOrange;
}

#bookNow {
  background-color: $redOrange;
  padding: 15px 19px;
  margin: 0px;
  border: none;
}
#bookNow:hover {
  @include transition(.3s);
  background-color: $orange;

}
#bookNow a:hover {
color: white !important;
}
