/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*********************
COCKTAILS
*********************/
.cocktailSec {
  .cocktail {
	width: 48%;
}}

/*********************
 BLOG PAGE
*********************/

.blog {
	.blogContF {
		.blogContD {
			width: 48%;
		}
	}
}
/************************************************************************************
*************************************************************************************

							      LANDING PAGE

************************************************************************************
************************************************************************************/

.pCols {
  @include flexbox;
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(space-between);
  width: 92%;
  div {
    width: 48%;
  }
}

.main{
  width: 80%;
  margin: 0px 0% 3% 20%;
  height: 45vw;
  position: relative;
}

.homeWrap {

	.social {
		width: 200px;
		height: 30px;
		position:absolute;
			top: 60px;
			right: 20px;
		background-color: transparent;
		ul {
			margin: 0;


			p {color: white;}
			li {
			.fa {
			color: white;
				}}}
	}

	.h20logo {
    display: block;
		width: 16%;
    	position: absolute;
    	top: 0px;
    	left: 3%;
  		margin-top: 0;
  		margin-left: 0;
	}
.slogWrap {
    position: relative;
    top: -32vw;
    width: 63%;
    height: 100%;
    left: -3.5%;
	  margin-top: 0;

  }}



/************************************************************************************
*************************************************************************************

							      	CONTEST PAGE

************************************************************************************
************************************************************************************/
.fb_iframe_widget {
	position: absolute !important;
	margin: -30px 0px 0px 0px !important;
	right: -280px !important;}

  .topSec {
  .lower {
  		.title {
  			.logo {
  			opacity: 1;
        -webkit-transition-delay: .3s; /* Safari */
  			transition-delay: .3s;
  	 	 }
  		 .info {
  			 margin: 40px auto 40px auto;
  		 }
  }}}

/************************************************************************************
*************************************************************************************

                                  PRICING

************************************************************************************
************************************************************************************/
.memberSec {
  .flex {
    .flexDiv {
      width: 46%;
      margin: 2%;
      .priceTop {
        margin: 90px auto 0px auto;
      }
    }
  }
}

/************************************************************************************
*************************************************************************************

										                    FAQ

************************************************************************************
************************************************************************************/


.faq {
	width: 100%;
	max-width: $maxWidth;
	margin: auto;
	margin-bottom: 100px;
	.faqFlex {
		@include justify-content(space-around);
		@include flex-flow(row wrap);
		@include flexbox;
		margin-bottom: 70px;
		.faqQA {
			width: 46%;
			min-width: 400px;
			margin: 30px 0px;

		}
	}
}

/************************************************************************************
*************************************************************************************

							      CONTACT FORMs

************************************************************************************
************************************************************************************/


/********* STRIP FORM

.contactForm input[type="text"], .contactForm select, .contactForm textarea, .contactForm.field {

	float: left;
	width: 23%;
	margin: 0 7px 0 0px;
}

.contactForm input[type="submit"] {margin: 0px;width: 23%;}

***********/
