/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/************************************************************************************
*************************************************************************************

							      	CONTEST PAGE

************************************************************************************
************************************************************************************/

.bottomSec {
	.bottomWrap {
		@include wrapper;
		padding: $secPadding;
		.imageF {
			@include space-between();
			padding: 50px 0px;
			.imageD {
				width: 32%;
				margin-top: 0px;
				.backimg {
				@include backimg();
				height: 310px;}}
		}
	}
}

/*********************
 BLOG PAGE
*********************/
.vlog {
	.blogContF {
		.blogContD {
			width: 48%;
			margin-bottom: 30px;
		}
	}
}

.blog {
	.blogContF {
		.blogContD {
			width: 32%;
		}
	}
}
/*********************
HOME AD
*********************/

.homeAd {

	.mobileAd {
		display: none;

	}
	.deskAd {
		display: block;
    width: 100%;
    max-width: 1200px;
    margin: auto;
	}
}


.home-slide {
	.slideWrap {
	.deskImg {
		width: 100%;
		height: auto;
		display: block;
	}
	.mobileImg {display: none;}
	.learnMore {
		right: 5vw;
		bottom: 5vw;
	}

}}
/*********************
COCKTAILS
*********************/
.cocktailSec {
  .cocktail {
	width: 31%;
}}

/*********************
COCKTAIL ICON
*********************/


.featuredCocktail {
	.cocktail {
		.backImg {
			.icon {
				top: 188px;
				left: 90px;
			}
			.cocktailInfo {
			bottom: 50px;
			right: 50px;
			max-height: 450px;
		}}}}


		/*********************
		PARAGRAPH COLS
		*********************/
		.pCols {
			@include flexbox;
			@include flex-wrap(wrap);
			@include flex-direction(row);
			@include justify-content(space-between);
			div {
				width: 48%;
			}
		}
		/*********************
		123 STEPS
		*********************/

		.steps {
			.stepsFlex {
				@include flexbox;
				@include justify-content(space-around);
				@include align-items(flex-start);
				@include flex-flow(row wrap);
				width: 100%;
					#first {
						width: 29%;
					}
				#middle {
					width: 40%;
					border-right: 5px solid white;
					border-left: 5px solid white;
				}
			#last {
				width: 31%;
				padding: 35px 0px 0px 3vw;
				border: none;
			}}
		}
		/************************************************************************************
		*************************************************************************************

									    FOOTER

		************************************************************************************
		************************************************************************************/
		.footerMenu {
			.footWrap {
			.footInfoF {
				padding-top: 20px;
				margin: 0px;
				@include space-wrap();
				.footInfoD {
					width: 32%;
				}
			}
		}}
#footNav {display: inline-block;}
		/************************************************************************************
		*************************************************************************************

										     						ABOUT PAGE

		************************************************************************************
		************************************************************************************/
		.bio {
			.bioFlex {
				width: 100%;
				@include flexbox;
				@include justify-content(space-around);
				@include flex-wrap(wrap);
				.bioFlexPic {
					width: 36%;
					max-width: none;
					padding: 0px;
				}
				.bioFlexCopy {
					width: 55%;
					padding: 0;
				}
			}
		}

		/************************************************************************************
			*************************************************************************************

																CONTACT PAGE

			************************************************************************************
			************************************************************************************/


		.contactPage {
			.secWrapper {
				.flex {
					@include justify-content(space-between);
				}
			}
		}
		#mc_embed_signup .button {
			margin: -43px 0px 0px 197px !important;
		}
