/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-size: 100%;
	background-color: white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	font-family: $sans-serif;
	overflow-x: hidden;
}


* {
  /* Calculation */
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc((var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))); /* Ranges from 421px to 1199px */
}


h1 {
	font-weight: 900;
	letter-spacing: 1px;
	line-height: initial;
	--max-size: 40;
  	--min-size: 30;
	color: $redOrange;
 	 font-size: var(--responsive) !important;
}
h5 {
	text-transform: uppercase;
	color: $grey;
	letter-spacing: 1px;
}
h6 {
	font-weight: 400;
	font-size: 1em;
}
p {
	font-weight: 500;
	letter-spacing: 1px;
	--max-size: 17;
  --min-size: 14;
	line-height: initial;
 	 font-size: var(--responsive);
	hyphens: none !important;
}

.innerWrap {
	margin: auto;
	padding: $secPadding !important;
	width: 100%;
	max-width: $maxWidth !important;
}



#teal {color: $teal;}
#blue {color: $blue;}
#green {color: $green;}
#teal {color: $teal;}
#orange {color: $orange;}
#gold {color: $gold;}
#redOrange {color: $redOrange;}
#purple {color: $purple;}
#tealB {background-color: $teal;}
#blueB {background-color: $blue;}
#greenB {background-color: $green;}
#tealB {background-color: $teal;}
#orangeB {background-color: $orange;}
#goldB {background-color: $gold;}
#redOrangeB {background-color: $redOrange;}
#purpleB {background-color: $purple;}

#tealOut {border: 3px solid $teal;}
#orangeOut {border: 3px solid $redOrange;}
#greenOut {border: 3px solid $green;}
#purpleOut {border: 3px solid $purple;}


.callButton {
	display: table;
	padding: 10px 20px;
	background-color: $darkGrey;
	color: $offWhite;
	margin: auto;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		color:$redOrange;
		background-color: $grey;
		@include transition(.5s);
	}
}

/************************************************************************************
*************************************************************************************

							      	CONTEST PAGE

************************************************************************************
************************************************************************************/
.fb_iframe_widget span {width: 100% !important;}
.fb_iframe_widget {
		width: 100% !important;
		margin: 0px 0px 0px 20px;
	}
#t1 {order:2;}
#t2 {order: 3;}
#t3 {order: 1;}
#t4 {order: 4;}
#t5 {order: 5;}

.topSec {
	background-color: $darkGrey;
	padding: 60px 0px 0px 0px;
.lower {
		@include space-wrap();
		@include align-items(flex-end);
		position:relative;
		margin-bottom: -10px;
		margin-top: 50px;
		#t1, #t2, #t4, #t5 {
			width: 24%;
			height: fit-content;
			.pIcon {
				width: 30%;
		    margin: auto;
		    display: block;
				height:auto;
			}
			.pPerson {
				width: 100%;
				position: relative;
				z-index: 2;
				height:auto;
			}
		}
		.title {
			width: 90%;
			display: block;
			border-radius: 15px;
			.logo {
			opacity: 0;
			@include transition(.3s);
	 	 	width: 80%;
	 	 	max-width: 270px;
	 	 	display: block;
	 	 	margin: auto;
	 	 }
		 .info {
			 border: 4px solid $grey;
			 border-radius: 10px;
			 padding: 20px;
			 max-width: 330px;
			 @include transition(.3s);
			 margin: -100px auto 40px auto;
		 }
			h1 {
			text-align: center;
			letter-spacing: 2px;
			margin: 0px;
			color: $orange;
			text-transform: uppercase;
			--max-size: 40;
			--min-size: 30;
			font-size: var(--responsive);
			font-family: "Open Sans", sans-serif;}
			h3 {
				font-weight: bold;
				letter-spacing: 1px;
				color: $offWhite;
				margin: 0px;
				text-transform: uppercase;
				--max-size: 20;
				--min-size: 14;
				font-size: var(--responsive);
				font-family: "Open Sans", sans-serif;
				text-align: center;}
		}

}}


.middleSec {
	width: 100%;
	background-color: $grey;
	position: relative;
	z-index: 5;
	.middleWrap {
		@include wrapper;
		width: 90% !important;
		padding: $secPadding;
		.instructions {
			width: 100%;
			max-width: 400px;
			display: block;
			margin: auto;
			.enter {
				margin: 20px 0px;
				h3 {
					letter-spacing: 1px;
					margin: 0px;
					text-transform: uppercase;
					--max-size: 20;
					--min-size: 16;
					font-size: var(--responsive);
					font-family: "Open Sans", sans-serif;
					color: $orange;
				  text-align: center;}
				h4 {
					letter-spacing: 1px;
					--max-size: 17;
					--min-size: 15;
					font-size: var(--responsive);
					font-family: "Open Sans", sans-serif;
					color: $offWhite;
					margin: 7px 0px;
				}
			}
			h6 {
				font-weight: bold;
				color: $offWhite;
				margin: 20px 0px 0px 0px;
				letter-spacing: 1px;
				text-align: center;
				text-transform: uppercase;
				--max-size: 13;
				--min-size: 11;
				font-size: var(--responsive);
				font-family: "Open Sans", sans-serif;
			}
		}
	}

}

.bottomSec {
	width: 100%;
	background-color: $offWhite;
	#oCall {
		color: $orange;
		--max-size: 40;
		--min-size: 30;
		font-size: var(--responsive);
		}
	.bottomWrap {
		@include wrapper;
		padding: $secPadding;
		h3 {
			font-weight: bold;
			letter-spacing: 1px;
			text-transform: uppercase;
			--max-size: 25;
			--min-size: 18;
			font-size: var(--responsive);
			font-family: "Open Sans", sans-serif;
			color: $darkGrey;
			margin-bottom: 10px;}
		h5 {
			font-weight: bold;
			color: $orange;
			margin: 0px;
			letter-spacing: 1px;
			text-align: center;
			text-transform: uppercase;
			--max-size: 16;
			--min-size: 13;
			font-size: var(--responsive);
			font-family: "Open Sans", sans-serif;
		}
		.imageF {
			width: 100%;
			padding: 10px 0px 30px 0px;
			.imageD {
				width: 100%;
				margin-top: 40px;
				.backimg {
				@include backimg();
				height: 310px;}
				div {
				h5 {
					font-weight: bold;
					color: $orange;
					margin: 0px;
					letter-spacing: 1px;
					text-align: center;
					text-transform: uppercase;
					--max-size: 16;
					--min-size: 13;
					font-size: var(--responsive);
					font-family: "Open Sans", sans-serif;
				}
				#b1 {
					position: absolute;
					bottom: 70px;
					left: 20px;
				}
				#b2 {
					position: absolute;
					bottom: 20px;
					left: 20px;
				}
			}
		p {
			font-style: italic;
			font-size: 13px;
			margin-top: 10px;
			a {
			color: $darkGrey;
			font-weight: bold;
			text-decoration: none;}
		}}
		}
	}

}



	.blackOut {
		background-color: $darkGrey;
		color: $orange;
		padding: 10px;
	}

	/************************************************************************************
	*************************************************************************************

								      	MEDIA PAGE

	************************************************************************************
	************************************************************************************/

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0; overflow:
	hidden; max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

	.vlog {
		@include wrapper;
		padding: 50px 20px 0px 20px;
		.blogContF {
			width: 100%;
			@include flexbox;
			@include flex-wrap(wrap);
			@include flex-direction(row);
			@include justify-content(space-around);
			.blogContD {
				width: 100%;
				margin-bottom: 3vw;
				.postData {
					border-left: 4px solid $redOrange;
					padding-left: 15px;
					margin: 20px 0px;
				a {
					text-decoration: none;
					color: $offBlack;
					&:hover {
						color: $grey;
						@include transition(.5s);
					}
					h3 {
						margin: 0px;
					}
				}
				h5 {
					margin: 5px 0px 0px 0px;
					color: $lightGrey;}}
			}
		}
	}

	.videoPost {
		.videoGrad {
			width: 100%;
			height: 60vh;
			background: $orange; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient($orange, $redOrange); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient($orange, $redOrange); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient($orange, $redOrange); /* For Firefox 3.6 to 15 */
	    background: linear-gradient($orange, $redOrange); /* Standard syntax */
		}
		.videoContainer {
			width: 100%;
			max-width: $maxWidth;
			margin: auto;
			padding: 0vw 5vw;
			margin-top: -30vh;
		}
		.videoContent {
			width: 100%;
			max-width: $innerWidth;
			margin: auto;
			padding: 5vw;
			.titleInfo {
				border-left: 4px solid $offWhite;
				padding: 0px 20px 5px 20px;;
			h1 {
				margin: 0;
			}
			h5 {
				margin: 0;
				color: $lightGrey;
			}
		}
		}
	}

.blog {
	@include wrapper;
	padding: 0px 20px 0px 20px;
	.blogContF {
		width: 100%;
		@include flexbox;
		@include flex-wrap(wrap);
		@include flex-direction(row);
		@include justify-content(space-around);
		.blogContD {
			width: 100%;
			margin-bottom: 3vw;
			.postData {
				border-left: 4px solid $teal;
				padding-left: 15px;
				margin: 20px 0px;
			a {
				text-decoration: none;
				color: $offBlack;
				&:hover {
					color: $grey;
					@include transition(.5s);
				}
				h3 {
					margin: 0px;
				}
			}
			h5 {
				margin: 5px 0px 0px 0px;
				color: $lightGrey;}}
		}
	}
}

.blogPost {
	.blogGrad {
		width: 100%;
		height: 60vh;
		background: $teal; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($teal, $blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($teal, $blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($teal, $blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient($teal, $blue); /* Standard syntax */
	}
	.blogBanner {
		width: 100%;
		max-width: $maxWidth;
		margin: auto;
		padding: 0vw 5vw;
		margin-top: -30vh;
	}
	.blogContent {
		width: 100%;
		max-width: $innerWidth;
		margin: auto;
		padding: 5vw;
		.titleInfo {
			border-left: 4px solid $offWhite;
			padding: 0px 20px 5px 20px;;
		h1 {
			margin: 0;
		}
		h5 {
			margin: 0;
			color: $lightGrey;
		}
	}
	}
}

/************************************************************************************
*************************************************************************************

							      							PRICING

************************************************************************************
************************************************************************************/


.memberSec {
	max-width: $maxWidth;
	margin: auto;
	padding: 50px 0px 20px 0px;;
	.flex {
		@include flexbox;
		@include flex-wrap(wrap);
		@include flex-direction(row);
		@include justify-content(space-around);
		.flexDiv {
			width: 98%;
			padding: 20px;
			margin: 15px 30px;
			text-align: center;
			align-items: center;
			.priceTop {
				padding: 0px 0px 22px 0px;
				width: 90%;
    		max-width: 200px;
				margin: 30px auto 0px auto;
				h2 {margin: 0px; color: $offWhite;}
				border-bottom: 4px solid $offBlack;
			}
			h2 {color: $offWhite;}
			img {
				width: 100px;
				margin: auto;
				display: block;
			}
			h3 {
				margin: 0px;
				color: $offWhite;}
			 p{
				font-size: .8em;
				color: $offWhite;
			}

		}
	}
}

.priceWrap {
	background-color: $darkGrey;
	margin-top: 0px !important;
	padding-top: 60px;
	.headerSec {
		border-top: 10px solid $offBlack !important;
		h2 {color: $offWhite !important;}
	}
}
.pricingSec {
	max-width: $maxWidth;
	margin: auto;
	padding: 60px 20px 0px 20px;

	.flex {
		width: 100%;
		@include flexbox;
		@include flex-direction(row);
		@include justify-content(center);
		border-bottom: 4px solid $offBlack;
		#memIco {@include justify-content(flex-end);}
		.flexDiv {
			width: 24%;
			@include flexbox;
			@include flex-direction(column);
			@include justify-content(center);
			text-align: center;
			.cocktailName {
				font-weight: bold;
				text-align: left;
				color: $redOrange;}
			p {color: $offWhite;}
			.topP {
				border-bottom: 3px solid $offBlack;
				width: 76%;
    		max-width: 75px;
    		margin: auto;
				p {
					margin: 10px 0px 5px 0px;}
			}
			.bottomP {
				p {
					margin: 5px 0px 10px 0px;
				}}

			img {
				width: 70px;
				margin: auto;
				display: block;
			}
		}
	}
	.asterisk {
		padding: 50px 0px;
    max-width: 850px;
    line-height: 1.4em;
    font-size: .9em;
    margin: auto;
    display: block;
		color: $offWhite;
    text-align: center;
	}
}

/************************************************************************************
*************************************************************************************

							      							COCKTAILS

************************************************************************************
************************************************************************************/


/**********
  FEATURED
***********/

.featuredCocktail {
	margin: 70px 0px 20px 0px;
	width: 100%;
	.cocktail {
		width: 100%;
		padding-left: 5%;
		margin-bottom: 50px;
		.backImg {
			width: 100%;
			height: 550px;
			position: relative;
			left: 0;
			@include transition(.6s);
			img {height: 100%;}
			.icon {
				width: 107px;
				height: auto;
				position: absolute;
				top: 28px;
				right: 90px;
			}
		.cocktailInfo {
			position: absolute;
			bottom: 20px;
			right: 20px;
			width: 240px;
			max-height: 235px;
			overflow: scroll;
			height: auto !important;
		}
		.ingSlide {
			color: $white;
			text-transform: uppercase;
			padding: 10px 0px;
			position: absolute;;
			top: 0;
			height: 550px;
			width: 40px;
			.ingDiv {
				transform: rotate(270deg);
				width: 170px;
				position: absolute;
				top: 265px;
				left: -64px;
			h4 {
				margin: 0px;
				text-align: center;}
			.fa {
			margin: 0 10px;
			transform: rotate(180deg);
			@include transition(.5s);
		}}
		}
		}
		.ingSec {
			z-index: -10;
			height: 550px;
			width: 100%;
			margin-top: -550px;
			float: left;
			overflow: scroll;
			.ing {
				margin: 0px;
				padding: 20px;
				color: $offWhite;
				font-size: .8em;
				opacity: 1;
			}}
			}}
.ftOpen {
				left: 250px !important;
				z-index: 1;
				@include transition(.6s);
	}
	.ftFa {
		transform: rotate(0deg) !important;
		transform-origin: center center;
	}
/**********
	InfoBlock Only
***********/

	.cocktailInfo {
			padding: 40px 0px 0px 0px;
			background-color: $offWhite;
			text-align: center;
			height: 235px;
	    overflow: scroll;
		.price {
			font-size: 3em;
			line-height: 0;
		}
		p {
			font-size: 1em;
			font-weight:600;
			color: $grey;
			padding: 0px 10px 0px 10px;
		}
		h2 {
			 font-size: 1.4em;
			 line-height: 1.2;
			 padding-top: 10px;
			 margin: 20px 5px 20px 5px;
		}
		h6 {
			line-height: 0;
			margin: 35px 0px 0px 0px;
		}
		h5 {
			line-height: 0;
			margin:0;
		}
		.useList {
			color: $lightGrey !important;
		}

	}

	.ingSlide {
		color: $white;
		margin: 0px;
		padding: 10px;
		h2 {margin: 0px; font-size: 1.1em; color: $offWhite;}
		.fa {
		margin: 0 10px;
		@include transition(.5s);
	}
	.ingDiv {
		h4 {margin: 10px 0px 0px 0px;
		color: $darkGrey;}
	}}
.disclaimer {
	padding: 0px 30px 70px 30px;
	p {
		text-align: center;
		font-size: 1em;
		font-weight:600;
		color: $lightGrey;
		padding: 0px 10px 0px 10px;
	}
}
/**********
	Normal Sized
***********/

.cocktailSec {
	width: 100%;
	padding: 0px 20px 50px 20px;
	margin: auto;
	@include flexbox;
	@include flex-wrap(wrap);
	@include justify-content(space-around);
	@include transition(.6s);
.cocktail {
	width: 98%;
	text-align: center;
	margin-bottom: 2%;

	.cocktailIcon {
		.icon {
			width: 60%;
    	padding: 10% 7%;
			margin: auto;
		}}
	.ingSec {
		position: relative;
		top: -190px;
		z-index: -10;
		height: 190px;
		margin-bottom: -190px;
		@include transition(.6s);
		overflow: scroll;
		.cocktailInfo {
			height: 190px;
		}
	}}}

.ingSlide:hover {
	color: rgba(255,255,255, .8);
	@include transition(1s);
}

.ingOpen {
	top: 0 !important;
	z-index: 1;
	margin-bottom: 0px !important;
}
.faOpen {
	transform: rotate(180deg) !important;
	transform-origin: center center;
}

/************************************************************************************
*************************************************************************************

							      LANDING PAGE

************************************************************************************
************************************************************************************/


.headerSec {
	margin: 90px 0% 0% 5%;
	width: 95%;
	border-top: 10px solid $offWhite;
	h2 {
		letter-spacing: 1px;
		text-transform: uppercase;
	}

}

.main{
	width: 70%;
	margin: 30px 0% 3% 30%;
	height: 60vw;
	position: absolute;
}
	.slider-outer{
	   height:100% !important;

	  overflow:hidden;
	}
	.slider{

	    width: 100%;
	    height: 100%;

	}
	.slide-image{
	  width: 100%;
	    height: 100%;
	   display:block;
	    color: transparent;
	    background-size: cover;
	    -moz-background-size: cover;
	    -ms-background-size: cover;
	    -o-background-size: cover;
	    -webkit-background-size: cover;
	    background-position: 50% 50%;
	    background-repeat: none;
	}
	.slider .slide-item{
	  float:left;
	    padding: 0;
	    margin: 0;
	}
	.clear{
	  clear:both;
	}

.slick-list {
	padding: 0px !important;
}

.slick-track {
	width: 100%;
}

.slick-dots {
	margin-top: -30px !important;
	z-index: 999 !important;
	bottom: 10px !important;
	li {
		button:before{
font-size: 20px !important;
			}
	}
}
.slick-dotted.slick-slider {
	margin: 0px !important;
}
.home-slide {
	width: 100%;
	.slideWrap {
		width: 100%;
		position: relative;
		margin: 0;
		padding:0;
		top: 0;

.youTube {
	margin-top: 16px;
}
	.deskImg {
		display: none;
	}
	.mobileImg {
		width: 100%;
		height: auto;
		display: block;
		}
	.learnMore {
		position: absolute;
		right: 5vw;
		bottom: 5vw;
		width: 30%;
		min-width: 250px;
		max-width: 400px;
		h3 {
			color: white;
			text-align: right;
		}
		.bannerButton {
			width: fit-content;
			float: right;
		a {
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 14px;
			color: $offBlack;
			&:hover {
				color: $grey;
				@include transition(.5s);
			}

			p {
				padding: 10px 11px;
				font-weight: bold;
				margin: 0px;
			}

		}}
	}

}}


.pColWrap {
	background-color: $darkGrey;
	width: 100%;
	padding: $secPadding;
	.pCols {
		width: 100%;
		max-width: $maxWidth;
		margin: auto;
		div {
			p {
				color: white;
			}
		}
	}
}

.homeWrap {
  width: 100%;
	position: relative;

	.social {
		width: 100%;
		height: 30px;
		background-color: #f3f1ee;
		ul {
			margin: 0;
			text-align: center;

			p {
			font-weight: bold;
			line-height: 0px;
			color: $darkGrey;
			letter-spacing: 1px;}
			li {
				display: inline-block;
				padding: 0px 5px;
		.fa {
			color: $darkGrey;
				}}}
	}
	.h20logo {
			display: none;
			width: 41%;
    	position: relative;
    	margin-top: 6.5%;
    	margin-left: 31%;
		.orange_logo{fill:$redOrange;}
		.orange_line_logo{
			fill-rule:evenodd;
			clip-rule:evenodd;
			fill:$redOrange;}
		.drop_logo{fill:$darkGrey;}
		.drop_shine_logo{
			fill-rule:evenodd;
			clip-rule:evenodd;
			fill:$darkGrey;}
	}}
.slogWrap {
    position: relative;
    top: 30vw;
    width: 80%;
    height: 100%;
  .greyCont{clip-path:url(#SVGID_2_);}
  .greySlog {fill:$darkGrey;}
  .whiteCont {clip-path:url(#SVGID_4_);}
  .whiteSlog {fill: white;}
  .orangeSlog {fill: $redOrange;}
  }


.steps {
	width: 100%;
	background-color: $offWhite;
	padding: 40px 0px 40px 0px;
	margin-top: 70px;
	.stepsFlex {
		width: 100%;
		margin: auto;
		max-width: $maxWidth;
		.stepsDiv {
			width: 90%;
			margin: auto;
			height: auto;
			text-align: center;
			padding: 10px 25px;
			img {
				width: 120px;
			  margin: 20px 0px -20px 0px;
			}
			a {
				font-weight: bold;
				text-decoration: none;
				color: $grey;
			}

		}

		#middle {
			text-align: center;

			p {margin-top: -11px;}
		}
		#last {
			border: 5px solid white;
			padding: 25px 30px 25px 29px;
			margin-top: 40px;
			h1 {
				text-align: left;
				color: $offBlack;
				margin: 0px;
			}
		}
	}
}

.bookNow {

		background-image: url("/wp-content/themes/k8y_101/library/images/dark_wood_@2X.png");
		background-repeat: inherit;
		background-repeat: initial;
		background-repeat: unset;
		/******
		background-color: $grey;
		**/
    padding: 70px 20px;
		width: 100%;
	.bookButton {
		width: 95%;
		display: block;
		margin: auto;
		max-width: 400px;
		background-color: $darkGrey;
		padding: 20px;
		text-decoration: none;

		h1 {
			text-align: center;
			color: $offWhite;
		}
	}
}

.bookButton:hover {
outline: 0;
	@include transition(.3s);
	h1 {
		color: $redOrange;
	}
}
/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/


nav {
background-color: $grey;
width: 100%;
height: 48px;
position: fixed;
z-index: 995;
top: 0;
box-shadow: 0px 2px 10px rgba(0,0,0,.3);
}

.deskNav {display: none;}

.mobileMenu {
	display: block;
	}


#bookNowM  a{
	padding: 15px 10px;
	border: 2px solid $redOrange;
	font-weight: bold;
	color: $redOrange;
	margin: 15px auto 30px auto;
	width: 200px;
}

#bookNowM  a:hover {
	border: 2px solid $orange;
	color: $orange;
	@include transition(.3s);
}

#mobile {
	@include flexbox;
  @include flex-direction(row);
  @include justify-content(center);
	width: 100%;
	li {width: 30px;}
}



.home {
  width: 120px;
  height: 48px;
  background-color: $darkGrey;
  position: absolute;
  text-decoration: none;
	z-index: 999;
	top:0;
	.h20logo {
		opacity: 1;
		@include transition(.3s);
		width: 90px;
		margin: 9px 0px 0px 15px;
		.orange_logo{fill:$redOrange;}
		.orange_line_logo{
			fill-rule:evenodd;
			clip-rule:evenodd;
			fill:$redOrange;}
		.drop_logo{fill: white;}
		.drop_shine_logo{
			fill-rule:evenodd;
			clip-rule:evenodd;
			fill: white;}}
  .fa {

		opacity: 0;
    color: $redOrange;
    text-align: center;
    position: absolute;
		top: 15px;
		left: 50px;
    font-size: 1.2em;
		&:hover {
			color: $offWhite;
			@include transition(.3s);
		}

  }
}

.phone {
  width: 20px;
  position: absolute;
  text-decoration: none;
	z-index: 999;
	top: 13px;
	right: 50px;
  .fa {
    color: $redOrange;
    text-align: center;
    font-size: 1.2em;
    display: block;
		&:hover {
			color: $offWhite;
			@include transition(.3s);
		}

  }
}

.homeAd {
	width: 100%;
	.mobileAd {
		display: block;
		width: 100%;
	}
	.deskAd {
		display: none;
	}
}


.mobileMenu {
    height: 100vh;
		width:100%;
    background: $darkGrey;
    position: fixed;
    z-index:998;
    top:-100vh;
		@include transition(.5s);
    opacity:0;

    ul {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding:0;
        li {
					list-style: none;
            a {
                width:100%;
                max-width:1200px;
                overflow:hidden;
                position:relative;
								margin:0 auto;
                display:block;
								line-height: 30px;
                text-align: center;
                text-decoration:none;
                color: $white;
								letter-spacing: 2px;
					      font-size: 1em;
                &:hover {
									color:$redOrange;
									@include transition(.5s);
                }
            }

        }
    }}

		.mobileMenu--open {
		    top: 0;
		    opacity:1;
		}


// FLASHY SLIPPY NAV STYLES
.mobile-nav-button {
    width: 20px;
    position: fixed;
    margin: 14px 15px 0px 0px;
    right:0;
    top:0;
    z-index:9999;
    cursor:pointer;
    height:30px;
    .mobile-nav-button__line {
        width:100%;
        height: 3px;
        background:$redOrange;
        position:relative;
        transition:1s ease;
        &:nth-of-type(2) {
            margin: 4px 0;
        }

    }
    .mobile-nav-button__line--1 {
        transform: rotate(45deg);
        top: 7px;
        position: absolute;
    }
    .mobile-nav-button__line--2 {
        display: none;
    }
    .mobile-nav-button__line--3 {
        transform: rotate(135deg);
        top: 7px;
        position: absolute;
    }
}





/************************************************************************************
*************************************************************************************

							      GENERAL COLs

************************************************************************************
************************************************************************************/
.contactFlex {
	width: 100%;
.flex {
		max-width: $maxWidth;
		margin: auto;
		padding: $secPadding;
		@include flexbox;
		@include justify-content(space-between);
	.flexDiv {
	}
	}}

/************************************************************************************
*************************************************************************************

								     						ABOUT PAGE

************************************************************************************
************************************************************************************/
.bio {
	width: 100%;
	max-width: $maxWidth;
	padding: $secPadding;
	margin:auto;
	.bioFlex {
		width: 100%;
		.bioFlexPic {
			width: 100%;
			padding: 4%;
			max-width: 300px;
			margin-bottom: 30px;
			margin:auto;
			display: block;
			img {
				width: 100%;
				height: auto;

			}
		}
		.bioFlexCopy {
			width: 100%;
			padding: 2%;
			h1 {margin: 0px 0px -10px 0px;}
		}
	}
	.bioQuote {
		margin: 10px 0px;
		h3 {
			text-align: center;
			line-height: 25px;
			color: $lightGrey;
		}
	}
}
/************************************************************************************
*************************************************************************************

										           ABOUT IMAGE GALLERY

************************************************************************************
************************************************************************************/


#gallery{
	margin: 80px 2vw 0px 2vw;

  -webkit-column-count:4;
  -moz-column-count:4;
  column-count:4;

  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
@media (max-width:1200px){
  #gallery{
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;

  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
}
@media (max-width:800px){
  #gallery{
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;

  -webkit-column-gap:20px;
  -moz-column-gap:20px;
  column-gap:20px;
}
}
@media (max-width:600px){
  #gallery{
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;
}
}

.modal-dialog {
  width: 50%;
	height: auto;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
  @include transition(1s);
}
.card{
  width:100%;
  height:auto;
  margin: 1vw auto;
  cursor: pointer;
}
.modal-img,.model-vid{
  width:100%;
  height:auto;
}
.modal-body{
  padding:0px;
}



/************************************************************************************
*************************************************************************************

										                    FAQ

************************************************************************************
************************************************************************************/
.faq {
	width: 100%;
	max-width: $maxWidth;
	margin: auto;
	.faqFlex {
		@include justify-content(space-around);
		@include flex-flow(row wrap);
		@include flexbox;
		margin-bottom: 70px;
		.faqQA {
			width: 100%;
			padding: 0px 25px;
			margin: 15px 0px;

		}
	}
}

.faqFull {
	width: 100%;
	max-width: $maxWidth;
	margin: auto;
	margin-bottom: 100px;
	padding: 0px 25px;
	.faqQAfull {
		width: 100%;
		margin: 30px 0px;
	}
}

.faq a {text-decoration: none;
	font-weight: bold;
	color: $offBlack;}
#break {
	border-top: 10px solid $offWhite;
	margin: 40px 25px 80px 25px;
}
#faqQ {
	color: $redOrange;
	margin: 0px 10px 0px 0px;
	--max-size: 47;
	--min-size: 40;
	 font-size: var(--responsive);
}

#faqA {
	color: $orange;
	font-weight: bold;
	margin: 0px 10px 0px 0px;
	--max-size: 47;
	--min-size: 40;
	 font-size: var(--responsive);
}

/************************************************************************************
*************************************************************************************

							    FOOTER

************************************************************************************
************************************************************************************/
.footerMenu {
background-color: $offBlack;
width: 100%;
.footWrap {
	max-width: 1000px;
	padding: $secPadding;
	margin: auto;
	display: block;
	ul {
		text-align: center;
    margin: auto;
    text-transform: uppercase;
    display: block;
		padding-bottom: 20px;
		border-bottom: 4px solid $grey;
		li {
      display: inline-block;
      margin: 0px 30px 0px 0px;
      letter-spacing: 2px;
      font-size: 1em;
			a {color: $offWhite;
				text-decoration: none;
		    list-style-type: none;
				.fa {margin: 0px -15px 0px 0px;}
        &:hover {
          color:$redOrange;
          @include transition(.5s);
        }
			}
		}
	}
	.footInfoF {
		padding-top: 20px;
		.footInfoD {
			width: 200px;
			margin: 10px auto;
			display: block;
			h3 {
				color: $offWhite;
				margin:0px;
			}
			p {
				color: $offWhite;
				margin: 0px;
				a {color: $offWhite;
				text-decoration: none;}
			}
		}
	}
}}
#footNav {display: none;}
#bookNowF {
	a {
	color: $redOrange !important;
	&:hover {
		color:white !important;
		@include transition(.5s);
	}}
}
/************************************************************************************
*************************************************************************************

							      CONTACT FORMs

************************************************************************************
************************************************************************************/

/*****************
 *****************
    Ninja Forms
 *****************
 *****************/

.nf-field-element textarea {
	height: 140px !important;
}

.field-wrap input[type="submit"], .field-wrap input[type="button"], .field-wrap button {
		width: 100% !important;
    background: $darkGrey;
		font-family: $sans-serif !important;
    border: none;
    margin: -8px 0px !important;
    padding: 10px;
		color: $offWhite !important;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field {
	background-color: $offWhite !important;
	width: 100% !important;
	max-width: none !important;
	border-radius: 0px !important;
	border: 2px solid $offWhite !important;
	padding: 10px !important;
	margin: -8px 0px !important;
	font-family: $sans-serif !important;


	}

.nf-form-fields-required {display: none !important;}
/************************************************************************************
	*************************************************************************************

								      CONTACT PAGE

	************************************************************************************
	************************************************************************************/


	.contactPage {

			.flex {
				@include justify-content(space-around);
				@include flex-flow(row wrap);
				@include flexbox;

				max-width: $maxWidth;
				margin:auto;
				min-height: 20vw;
				padding: $secPadding;
				width: 100%;
				.contactForm2 {
					width: 48%;
					width: 48%;
					min-width: 275px;
					margin-bottom: 40px;
					h1 {
						color: $redOrange;
					}
					a {
						text-decoration: none;
						color: $offBlack;
						margin-bottom: -12px;
						p {
							font-size: .95em;
							margin: 4px;
						}
					}
				}
			}
	}
	.form-line, .form-line.form-line-column {
		padding: 0px !important;
	}

	.emailSignUp {
		background-color: $redOrange;
		padding: 50px 20px 60px 20px;
		h3 {
			color: $offWhite !important;
			text-transform: none !important;
			text-align: center;
			margin-bottom: 15px;
		}
	}



	div#mc_embed_signup_scroll {
		width: 270px !important;
		display:block !important;
		margin: auto !important;
	}

	#mc_embed_signup {
		background-color: $redOrange !important;
		width: 100% !important;
		max-width: 430px !important;
		margin: auto !important;
		color: $offWhite !important;
	}
	#mc_embed_signup .button, #mc_embed_signup input.email {
		font-family: $sans-serif !important;
		font-weight: 400 !important;
		border-radius: 0px !important;
		border: 2px solid white !important;
		background-color: transparent !important;
		height: 38px !important;
		line-height: 31px;
		font-size: 14px !important;
		color: $offWhite !important;

	}
	#mc_embed_signup .button {
		float: right !important;
		width: 70px !important;
		margin: -30px 0px 0px 4px !important;
		padding: 0px !important;
	}
	#mc_embed_signup .button:hover {
		background-color: $offWhite !important;
		color: $grey !important;
		@include transition(.3s);
	}
	#mc_embed_signup input.email {
		float: left !important;
		width: 200px !important;
		font-weight: 400 !important;
		padding: 0px 18px !important;
	}

	#mc_embed_signup input.email::-webkit-input-placeholder { color: $offWhite !important; }
  #mc_embed_signup input.email::-moz-placeholder { color: $offWhite !important; }
  #mc_embed_signup input.email:-ms-input-placeholder { color: $offWhite !important; }
  #mc_embed_signup input.email:-moz-placeholder { color: $offWhite !important; }

	/************************************************************************************
	*************************************************************************************

								      							MEMBERSHIP CHECKOUT

	************************************************************************************
	************************************************************************************/
	.greenButton {
		margin: 30px 0px 10px 0px;
		a.edd-add-to-cart.button.dark-gray.edd-submit.edd-has-js {
			color: $offWhite;
			font-weight: bold;
			background-color: $green;
			opacity: 1;
			text-decoration: none;
			padding: 5px 10px;
			&:hover {
	        @include transition(.5s);
					opacity: .8;

	    }
		}
	}

	.purpleButton {
		margin: 30px 0px 10px 0px;
		a.edd-add-to-cart.button.dark-gray.edd-submit.edd-has-js {
			color: $offWhite;
			font-weight: bold;
			background-color: $purple;
			opacity: 1;
			text-decoration: none;
			padding: 5px 10px;
			&:hover {
	        @include transition(.5s);
					opacity: .8;

	    }
		}
	}

	a.edd_go_to_checkout.button.dark-gray.edd-submit {
		color: $offWhite;
		font-weight: bold;
		background-color: $grey;
		opacity: 1;
		text-decoration: none;
		padding: 5px 10px;
		&:hover {
				@include transition(.5s);
				opacity: .8;
		}
	}

.edd-submit.dark-gray.button {
	color: $offWhite;
	font-weight: bold;
	background-color: $darkGrey;
	opacity: 1;
	text-decoration: none;
	padding: 10px 15px;
	border: none !important;
	&:hover {
			@include transition(.5s);
			background-color: $redOrange;
	}
}


.checkWrap {
	width: 100%;
	max-width: $maxWidth;
	padding: $secPadding;
	margin: auto;
}

table#edd_checkout_cart {
	margin: auto;}

td.edd_cart_item_name {
	padding: 10px 20px;
	}
td.edd_cart_actions a{
	font-weight: bold;
	text-decoration: none;
	color: $redOrange;
}
.edd-payment-icons  {
	width: 70%;
	max-width: 300px;
	margin: 30px auto ;
	.payment-icon {
		width: 18%;
		margin:1%;}
}


#edd_checkout_user_info {
	border: 3px solid $offWhite !important;
	padding: 20px 50px;
}
#edd_purchase_submit {
	border: 3px solid $offWhite !important;
	padding: 20px 50px;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, textarea, .field{
	margin: 0px !important !important;
}
/************************************************************************************
*************************************************************************************

							     MAP STYLES

************************************************************************************
************************************************************************************/

.mapButton {
	background-color: $redOrange;
	color: $offWhite;
	font-weight: bold;
	text-align: center;
	position: absolute;
	bottom: 40px;
	left: 40px;
	letter-spacing: 1px;
	z-index: 999;
	padding: 6px 10px;
	text-decoration: none;
}
.mapHeight {
	position: relative;
	height: 370px;
}
.info div {
	width: 180px;
	padding-top: 10px;
}
.gm-style-mtc, .gm-style-mtc {
	display: none;
}
#map {
	width: 100%;
	height: 370px !important;
	position: absolute;
	display: block;
}
/*********************
    404
*********************/


.mWrap  {
#missing {
	display: block;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	text-align: center;
	min-height: 600px;
	width: 80%;
	max-width: 404px;
	padding-top: 10%;
	a {
		font-weight: bold;
		text-decoration: none;
		color: $redOrange;
	}
	h2 {
		text-align: center;
		margin: 0px auto;;
		font-size: 45px;
		width: 100%;
	}
	svg {
		width: 100px;
		margin: auto;
		margin-top: 20px;
		.error {fill: $redOrange;}

	}

	}}
