/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* set grid gutter here. */
/* set common inner width here */
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*********************
COCKTAILS
*********************/
/* line 22, ../scss/breakpoints/_481up.scss */
.cocktailSec .cocktail {
  width: 48%;
}

/*********************
 BLOG PAGE
*********************/
/* line 32, ../scss/breakpoints/_481up.scss */
.blog .blogContF .blogContD {
  width: 48%;
}

/************************************************************************************
*************************************************************************************

							      LANDING PAGE

************************************************************************************
************************************************************************************/
/* line 45, ../scss/breakpoints/_481up.scss */
.pCols {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 92%;
}
/* line 51, ../scss/breakpoints/_481up.scss */
.pCols div {
  width: 48%;
}

/* line 56, ../scss/breakpoints/_481up.scss */
.main {
  width: 80%;
  margin: 0px 0% 3% 20%;
  height: 45vw;
  position: relative;
}

/* line 65, ../scss/breakpoints/_481up.scss */
.homeWrap .social {
  width: 200px;
  height: 30px;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: transparent;
}
/* line 72, ../scss/breakpoints/_481up.scss */
.homeWrap .social ul {
  margin: 0;
}
/* line 76, ../scss/breakpoints/_481up.scss */
.homeWrap .social ul p {
  color: white;
}
/* line 78, ../scss/breakpoints/_481up.scss */
.homeWrap .social ul li .fa {
  color: white;
}
/* line 83, ../scss/breakpoints/_481up.scss */
.homeWrap .h20logo {
  display: block;
  width: 16%;
  position: absolute;
  top: 0px;
  left: 3%;
  margin-top: 0;
  margin-left: 0;
}
/* line 92, ../scss/breakpoints/_481up.scss */
.homeWrap .slogWrap {
  position: relative;
  top: -32vw;
  width: 63%;
  height: 100%;
  left: -3.5%;
  margin-top: 0;
}

/************************************************************************************
*************************************************************************************

							      	CONTEST PAGE

************************************************************************************
************************************************************************************/
/* line 111, ../scss/breakpoints/_481up.scss */
.fb_iframe_widget {
  position: absolute !important;
  margin: -30px 0px 0px 0px !important;
  right: -280px !important;
}

/* line 119, ../scss/breakpoints/_481up.scss */
.topSec .lower .title .logo {
  opacity: 1;
  -webkit-transition-delay: .3s;
  /* Safari */
  transition-delay: .3s;
}
/* line 124, ../scss/breakpoints/_481up.scss */
.topSec .lower .title .info {
  margin: 40px auto 40px auto;
}

/************************************************************************************
*************************************************************************************

                                  PRICING

************************************************************************************
************************************************************************************/
/* line 138, ../scss/breakpoints/_481up.scss */
.memberSec .flex .flexDiv {
  width: 46%;
  margin: 2%;
}
/* line 141, ../scss/breakpoints/_481up.scss */
.memberSec .flex .flexDiv .priceTop {
  margin: 90px auto 0px auto;
}

/************************************************************************************
*************************************************************************************

										                    FAQ

************************************************************************************
************************************************************************************/
/* line 157, ../scss/breakpoints/_481up.scss */
.faq {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}
/* line 162, ../scss/breakpoints/_481up.scss */
.faq .faqFlex {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 70px;
}
/* line 167, ../scss/breakpoints/_481up.scss */
.faq .faqFlex .faqQA {
  width: 46%;
  min-width: 400px;
  margin: 30px 0px;
}

/************************************************************************************
*************************************************************************************

							      CONTACT FORMs

************************************************************************************
************************************************************************************/
/********* STRIP FORM

.contactForm input[type="text"], .contactForm select, .contactForm textarea, .contactForm.field {

	float: left;
	width: 23%;
	margin: 0 7px 0 0px;
}

.contactForm input[type="submit"] {margin: 0px;width: 23%;}

***********/
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/************************************************************************************
*************************************************************************************

							      	CONTEST PAGE

************************************************************************************
************************************************************************************/
/* line 24, ../scss/breakpoints/_768up.scss */
.bottomSec .bottomWrap {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: block;
  padding: 50px 20px;
}
/* line 27, ../scss/breakpoints/_768up.scss */
.bottomSec .bottomWrap .imageF {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  width: 100%;
  padding: 50px 0px;
}
/* line 30, ../scss/breakpoints/_768up.scss */
.bottomSec .bottomWrap .imageF .imageD {
  width: 32%;
  margin-top: 0px;
}
/* line 33, ../scss/breakpoints/_768up.scss */
.bottomSec .bottomWrap .imageF .imageD .backimg {
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  width: 100% !important;
  position: relative !important;
  height: 310px;
}

/*********************
 BLOG PAGE
*********************/
/* line 45, ../scss/breakpoints/_768up.scss */
.vlog .blogContF .blogContD {
  width: 48%;
  margin-bottom: 30px;
}

/* line 54, ../scss/breakpoints/_768up.scss */
.blog .blogContF .blogContD {
  width: 32%;
}

/*********************
HOME AD
*********************/
/* line 65, ../scss/breakpoints/_768up.scss */
.homeAd .mobileAd {
  display: none;
}
/* line 69, ../scss/breakpoints/_768up.scss */
.homeAd .deskAd {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

/* line 80, ../scss/breakpoints/_768up.scss */
.home-slide .slideWrap .deskImg {
  width: 100%;
  height: auto;
  display: block;
}
/* line 85, ../scss/breakpoints/_768up.scss */
.home-slide .slideWrap .mobileImg {
  display: none;
}
/* line 86, ../scss/breakpoints/_768up.scss */
.home-slide .slideWrap .learnMore {
  right: 5vw;
  bottom: 5vw;
}

/*********************
COCKTAILS
*********************/
/* line 96, ../scss/breakpoints/_768up.scss */
.cocktailSec .cocktail {
  width: 31%;
}

/*********************
COCKTAIL ICON
*********************/
/* line 108, ../scss/breakpoints/_768up.scss */
.featuredCocktail .cocktail .backImg .icon {
  top: 188px;
  left: 90px;
}
/* line 112, ../scss/breakpoints/_768up.scss */
.featuredCocktail .cocktail .backImg .cocktailInfo {
  bottom: 50px;
  right: 50px;
  max-height: 450px;
}

/*********************
PARAGRAPH COLS
*********************/
/* line 122, ../scss/breakpoints/_768up.scss */
.pCols {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
/* line 127, ../scss/breakpoints/_768up.scss */
.pCols div {
  width: 48%;
}

/*********************
123 STEPS
*********************/
/* line 136, ../scss/breakpoints/_768up.scss */
.steps .stepsFlex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
}
/* line 142, ../scss/breakpoints/_768up.scss */
.steps .stepsFlex #first {
  width: 29%;
}
/* line 145, ../scss/breakpoints/_768up.scss */
.steps .stepsFlex #middle {
  width: 40%;
  border-right: 5px solid white;
  border-left: 5px solid white;
}
/* line 150, ../scss/breakpoints/_768up.scss */
.steps .stepsFlex #last {
  width: 31%;
  padding: 35px 0px 0px 3vw;
  border: none;
}

		/************************************************************************************
		*************************************************************************************

									    FOOTER

		************************************************************************************
		************************************************************************************/
/* line 165, ../scss/breakpoints/_768up.scss */
.footerMenu .footWrap .footInfoF {
  padding-top: 20px;
  margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  width: 100%;
}
/* line 169, ../scss/breakpoints/_768up.scss */
.footerMenu .footWrap .footInfoF .footInfoD {
  width: 32%;
}

/* line 174, ../scss/breakpoints/_768up.scss */
#footNav {
  display: inline-block;
}

		/************************************************************************************
		*************************************************************************************

										     						ABOUT PAGE

		************************************************************************************
		************************************************************************************/
/* line 183, ../scss/breakpoints/_768up.scss */
.bio .bioFlex {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 188, ../scss/breakpoints/_768up.scss */
.bio .bioFlex .bioFlexPic {
  width: 36%;
  max-width: none;
  padding: 0px;
}
/* line 193, ../scss/breakpoints/_768up.scss */
.bio .bioFlex .bioFlexCopy {
  width: 55%;
  padding: 0;
}

		/************************************************************************************
			*************************************************************************************

																CONTACT PAGE

			************************************************************************************
			************************************************************************************/
/* line 211, ../scss/breakpoints/_768up.scss */
.contactPage .secWrapper .flex {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

/* line 216, ../scss/breakpoints/_768up.scss */
#mc_embed_signup .button {
  margin: -43px 0px 0px 197px !important;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/************************************************************************************
*************************************************************************************

							      	CONTEST PAGE

************************************************************************************
************************************************************************************/
/* line 20, ../scss/breakpoints/_1030up.scss */
#t1 {
  order: 1;
}

/* line 21, ../scss/breakpoints/_1030up.scss */
#t2 {
  order: 2;
}

/* line 22, ../scss/breakpoints/_1030up.scss */
#t3 {
  order: 3;
}

/* line 23, ../scss/breakpoints/_1030up.scss */
#t4 {
  order: 4;
}

/* line 24, ../scss/breakpoints/_1030up.scss */
#t5 {
  order: 5;
}

/* line 26, ../scss/breakpoints/_1030up.scss */
.topSec {
  padding: 70px 0px 0px 0px;
}
/* line 28, ../scss/breakpoints/_1030up.scss */
.topSec .lower {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  width: 100%;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  position: relative;
  margin-bottom: -30px;
  margin-top: 60px;
}
/* line 34, ../scss/breakpoints/_1030up.scss */
.topSec .lower #t1, .topSec .lower #t2, .topSec .lower #t4, .topSec .lower #t5 {
  width: 17%;
  height: fit-content;
}
/* line 38, ../scss/breakpoints/_1030up.scss */
.topSec .lower .title {
  width: 30%;
  width: fit-content;
  display: block;
  margin-bottom: 9%;
  border-radius: 15px;
}
/* line 44, ../scss/breakpoints/_1030up.scss */
.topSec .lower .title .info {
  max-width: none;
}

/*********************
COCKTAILS
*********************/
/* line 56, ../scss/breakpoints/_1030up.scss */
.cocktailSec .cocktail {
  width: 22%;
}

  		/************************************************************************************
  		*************************************************************************************

  									      							PRICING

  		************************************************************************************
  		************************************************************************************/
/* line 71, ../scss/breakpoints/_1030up.scss */
.memberSec .flex .flexDiv {
  width: 23%;
  margin: 0px;
}
/* line 74, ../scss/breakpoints/_1030up.scss */
.memberSec .flex .flexDiv .priceTop {
  margin: 120px auto 0px auto;
}

/************************************************************************************
*************************************************************************************

							      NAVIGATION

************************************************************************************
************************************************************************************/
/* line 91, ../scss/breakpoints/_1030up.scss */
.mobileMenu, .mobile-nav-button {
  display: none;
}

/* line 93, ../scss/breakpoints/_1030up.scss */
.iconNav {
  background-color: #fff;
  padding: 28px 20px 24px 30px !important;
  height: 78px;
}

/* line 98, ../scss/breakpoints/_1030up.scss */
.phone {
  display: none;
}

/* line 102, ../scss/breakpoints/_1030up.scss */
.deskNav {
  display: block;
}
/* line 104, ../scss/breakpoints/_1030up.scss */
.deskNav ul {
  text-align: center;
  margin: 0px;
  position: absolute;
  right: 0px;
  text-transform: uppercase;
  display: block;
}
/* line 111, ../scss/breakpoints/_1030up.scss */
.deskNav ul li {
  display: inline-block;
  margin: 0px 30px 0px 0px;
  letter-spacing: 2px;
  font-size: 1em;
}
/* line 116, ../scss/breakpoints/_1030up.scss */
.deskNav ul li a {
  color: white;
  text-decoration: none;
  list-style-type: none;
}
/* line 119, ../scss/breakpoints/_1030up.scss */
.deskNav ul li a .fa {
  margin: 0px -15px 0px 0px;
}
/* line 120, ../scss/breakpoints/_1030up.scss */
.deskNav ul li a:hover {
  color: #ef5b2e;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 129, ../scss/breakpoints/_1030up.scss */
.menu li a:hover {
  color: #ef5b2e;
}

/* line 133, ../scss/breakpoints/_1030up.scss */
#bookNow {
  background-color: #ef5b2e;
  padding: 15px 19px;
  margin: 0px;
  border: none;
}

/* line 139, ../scss/breakpoints/_1030up.scss */
#bookNow:hover {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #ed9803;
}

/* line 144, ../scss/breakpoints/_1030up.scss */
#bookNow a:hover {
  color: white !important;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
